@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@300;400;500 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@300;400;500 & family= Permanent+Marker &família = Sarala & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@300;400;500 & family= Peralta & family= Permanent+Marker & family= Sarala & display=swap' );
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Oswald:wght@300;400;500&family=Peralta&family=Permanent+Marker&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    background:#1C1C1C;
}

#logo{
    width: 60px;
    height: 60px;
 }
.inicio{/*Container do cabeçalho*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3158cdb6;
    font-family: 'Oswald', sans-serif;

}

h2{ 
    color: #3158cdb6;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 10px;
}
.container{/*Container do Menu*/
    background: #69696945;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 40px;
    margin-top: 60px;
    margin-left: 500px;
    box-shadow: 0 8px 32px 0 #00008B;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid #696969;
    width: 500px;
    
}

#todecode{
   /*Aumentar a caixinha de texto*/ 
}

.inputmethod{/*Container do Método*/
    display: flex;
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    color: #D3D3D3;
    padding-bottom: 10px;
     
}

#selectcdc{
   /*Alterar a borda*/
}

#divskip{/*Container dos saltos*/
    display: flex;
    flex-wrap: wrap;
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    color: #D3D3D3;
    
}

#skip{
    width: 40px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.coderadio{/*Container Radio*/
    font-family: 'Oswald', sans-serif;
    color:#DCDCDC;
    
}

.button{
    padding: bottom 40px;
    
}

.rodape{/*Baseado em um modelo já criado*/
    background-color: #3158cdb6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  padding-top: 10px;
  font-family: 'Oswald', sans-serif;
}
